Source: datum-gateway
Maintainer: Luke Dashjr <luke+datum@ocean.xyz>
Section: net
Priority: optional
Standards-Version: 4.5.0
Homepage: https://ocean.xyz
Vcs-Git: https://github.com/OCEAN-xyz/datum_gateway.git
Vcs-Browser: https://github.com/OCEAN-xyz/datum_gateway
Build-Depends: debhelper,
 cmake,
 pkg-config,
 libjansson-dev,
 libmicrohttpd-dev,
 libsodium-dev,
 libcurl-dev

Package: datum-gateway
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Decentralized Alternative Templates for Universal Mining
 The DATUM Gateway is a server providing solo mining capabilities for Bitcoin
 miners, including both non-pooled and pooled solo mining using the new DATUM
 protocol.
